@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


#contact{
    position: fixed;
    bottom: 2vh;
    right: 3vw;
    border-radius:50% ;
    animation: rotator 2s ease-in-out 1;
    cursor: pointer;
}
@keyframes rotator {
    0%{ position: fixed;
        right: 3vw;
        bottom:80vh;
        border-radius:50% ;
        transform: rotate(0deg);
    }
    100%{ position: fixed;
          right: 3vw;
          bottom:2vh;
          border-radius:50% ;
          transform: rotate(360deg);
    }
}
#modal{
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
}
#modal_content{
    width: 20rem;
    height: 15rem;
    box-shadow: 0px 0px 5px #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cross{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 4px;
}
#cross > span{
    color: #fff;
    cursor: pointer;
}
#content{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content > a > button{
    cursor: pointer;
    border: none;
    width: 10rem;
    height: 2.5rem;
    animation: size-changer 1s infinite ease-in-out;
    border-radius: 10px;
}

@keyframes size-changer {
    0%{transform: scale(1);}    
    50%{transform: scale(1.1);}    
    100%{transform: scale(1);}    
}

nav{
    background-color: #0B286B;
    height: 6rem;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav > div >img{
    width: 6rem;
    height: 90%;
}
nav > #logo >span{
    margin-left: 20px;
    font-family: 'Rubik Glitch', cursive;
    color: #fff;
    font-size: 3rem;
}
#navigation > a{
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.3rem;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 1rem;
}
#navigation > a:hover{
    text-decoration: underline;
}
#home-page{
    font-weight: bold;
    text-decoration: underline;
}
.label{
    margin: 1rem 0rem;
    background-color: #000;
    max-width: 100vw;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Anek Odia', sans-serif;
    color: #c0c0c0;
}
#answer{
    position: relative;
    bottom: 2rem;
    font-size: 2.4rem;
    font-family: 'Josefin Sans', sans-serif;
}
#variety{
    background-color: #000;
    max-width: 100vw;
    
}
#variety > .games{
    width: 100%;
    height: 100%;
    background-color: #000;
}
.games > video{
    background-color: #000;
    width: 100%;
    height: 100%;
}
.games > video > source{
    width: 100%;
    height: 100%;
}
#rules{
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
#rules > div{
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}
.card-top{
    width: 20rem;
    height: 15rem;
    box-shadow: 0px 0px 10px #fff;
}
.card-top > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.card-middle{
    width: 12rem;
    height: 18rem;
    box-shadow: 0px 0px 10px #fff;
}
.card-middle > img{
    width: 100%;
    height: 100%;
}
.card-bottom{
    width: 28rem;
    height: 15rem;
    box-shadow: 0px 0px 10px #fff;
}
.card-bottom > img{
    width: 100%;
    height: 100%;
}
#whyus{
    display: flex;
    align-items: center;
    color: #fff;
    height: 300px;
    justify-content: space-around;
}
#whyus > ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
    color: #fff;
}
#whyus > ul > li::before{
    content: '💰';
}
#bonus{
    margin-top: 5rem;
}
#bonus > div > span{
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
    color: #c0c0c0;
    margin: 4rem 0rem;
}
#bonus > div > ul{
    margin-top: 2rem;
}
#bonus > div > ul > li{
    font-size:1.8rem ;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}
footer{
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 3rem;
    color: #fff;
    align-items: center;
}
.rules{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.rules > ol > li{
    margin-bottom: 1rem;
}
.gamerrules > li{
    list-style: none;
}

.gamerrules > li::before{
content: "🎮";
font-size: 1.5rem;
}