@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



#contact{
    position: fixed;
    bottom: 2vh;
    right: 3vw;
    border-radius:50% ;
    animation: rotator 2s ease-in-out 1;
    cursor: pointer;
}
@keyframes rotator {
    0%{ position: fixed;
        right: 3vw;
        bottom:80vh;
        border-radius:50% ;
        transform: rotate(0deg);
    }
    100%{ position: fixed;
          right: 3vw;
          bottom:2vh;
          border-radius:50% ;
          transform: rotate(360deg);
    }
}
#modal{
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
}
#modal_content{
    width: 20rem;
    height: 15rem;
    box-shadow: 0px 0px 5px #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cross{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 4px;
}
#cross > span{
    color: #fff;
    cursor: pointer;
}
#content{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content > a > button{
    cursor: pointer;
    border: none;
    width: 10rem;
    height: 2.5rem;
    animation: size-changer 1s infinite ease-in-out;
    border-radius: 10px;
}

@keyframes size-changer {
    0%{transform: scale(1);}    
    50%{transform: scale(1.1);}    
    100%{transform: scale(1);}    
}

nav{
    background-color: #0B286B;
    height: 8rem;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav > div >img{
    width: 8rem;
    height: 90%;
}
nav > #logo >span{
    margin-left: 20px;
    font-family: 'Rubik Glitch', cursive;
    color: #fff;
    font-size: 3rem;
}
#navigation > a{
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.3rem;
    color: #fff;
}
#navigation > a:hover{
    text-decoration: underline;
}
.label{
    background-color: #000;
    max-width: 100vw;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
}
#variety{
    background-color: #000;
    max-width: 100vw;
}
#variety > .games{
    width: 100%;
    height: 100%;
    background-color: #000;
}
.games > video{
    background-color: #000;
    width: 100%;
    height: 100%;
}
.games > video > source{
    width: 100%;
    height: 100%;
}